body {
    background: linear-gradient(to bottom right, #fff0f0, #ffecec);
    padding: 20px;
    background: url('christmas.jpg') no-repeat center center fixed;
    background-size: cover;
    position: relative;
}

.right-image {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: auto;
    opacity: 0.5;
    pointer-events: none;
}

h1 {
    padding-top: 20px;
    padding-bottom: 10px;
    font-family: 'Brush Script MT';
    font-size: 3em;
    text-align: center;
    color: #a63d3d;
}

table {
    font-family: 'Brush Script MT';
    width: 70%;
    margin: auto;
    border-collapse: collapse;
    background: #ffffff;
}

th, td {
    border: 2px solid #e15353ff;
    padding: 10px;
    text-align: center;
}

th {
    background: #fe9292ff;
}

p {
    font-family: Georgia, 'Times New Roman';
    text-align: center;
    padding-bottom: 5px;
}
