body {
    background: url('christmas.jpg') no-repeat center center fixed;
    background-size: cover;
    padding: 0px;
    margin: 0;
    font-family: Georgia, serif;
    text-align: center;
    display: flex;
    flex-direction: column;
}

nav {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

nav a {
    display: inline-block;
    padding: 13px 30px;
    background-color: rgba(255, 151, 151, 0.8);
    color: #a63d3d;
    font-size: 1.2em;
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

nav a:hover {
    background-color: #fe9292;
    color: #fff;
}

.homepage-images-row {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px auto;
    padding-bottom: 20px;
}

.homepage-images-row img {
    width: 30%;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

h1, h2 {
    font-family: "Brush Script MT";
    color: #a63d3d;
    text-shadow: 1px 1px #ffffff;
    margin-bottom: 20px;
}

p {
    font-family: Georgia, serif;
    color: #4c2c2c;
    font-size: 1.1em;
}

table {
    width: 70%;
    margin: auto;
    background: rgba(255, 255, 255, 0.85);
    border-collapse: collapse;
    font-family: Georgia, serif;
    text-align: center;
}

th, td {
    border: 2px solid #e15353;
    padding: 10px;
}

th {
    background: #fe9292;
}

.home-list {
    margin: 0 auto 20px auto;
    background: rgba(248, 228, 228, 0.9);
    padding: 15px;
    border-radius: 8px;
    text-align: center;
}

.conditional-card {
    border: 2px solid #fe9292;
    border-radius: 12px;
    padding: 20px;
    margin: 15px auto;
    width: 50%;
    font-size: 1.1em;
    text-align: center;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

footer {
    background-color: rgba(255, 151, 151, 0.8);
    text-align: center;
    padding: 3px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
